@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Work+Sans:wght@500;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.button{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    border: 0;
    padding: 20px 25px ;
    font-size: 20px;
}
.background{
    /* width: 1920px; */
    background-color: #FF900E1A;
}

/* nav style  */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.nav-title{
    color: #131313;
    font-size: 50px;
    margin: 0 auto;
}
.nav-info{
    display: flex;
    gap: 50px;
    color: #424242;
    font-size: 18px;
}

/* hero style  */

.hero{
    text-align: center;
    padding-top: 100px;
}
.hero-title{
    color: #131313;
    font-size: 64px;
}
.hero-details{
    color: #727272;
    font-size: 16px;
    margin:  20px 0;
}
.hero-img{
    padding:  50px 0;
}

/* quick style  */
.quick{
    display: flex;
    gap: 75px;
    align-items: center;
    padding-top: 85px;
}
.quick-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-column-gap: 25px;
}
.quick-title{
    font-size: 45px;
    color: #727272;
}
.black-highlight{
    color: #131313;
    font-weight: bold;
}
.yellow-highlight{
    color: #FF900E;
    font-weight: bold;
}
.quick-info{
    margin: 25px 0 30px;
    font-size: 16px;
    color: #727272;
}

/* features style */

.features{
    margin-top: 130px;
    display: flex;
    gap: 120px;
    font-size: 16px;
    color: #727272;
}
.features-details h3{
    padding-left: 30px;
    font-size: 45px;
    margin-bottom: 25px;
}
.features-card{
    margin-top: 20px;
    padding: 30px 200px 40px 30px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
}
.features-card h3{
    padding-left: 0;
    font-size: 20px;
}
.button-container{
    text-align: center;
}
.features-btn{
    text-align: center;
    padding: 25px 50px;
    margin-top: -400px;
    margin-right: -150px;
}
.features-btn .highlight{
    font-size: 40px;
    font-weight: bold;
}

/* facts  */
.facts{
    padding-top: 130px;
}
.facts-info{
    color: #727272;
    /* padding-top: 30px; */
}
.facts-info h3{
    font-size: 45px;
}
.facts-info p{
    padding-top: 30px;
}
.facts-cards{
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}
.fact-card{
    text-align: center;
    border: 1px dotted #FF900E;
    border-radius: 10px;
    padding: 30px 20px  50px 20px;
}
.fact-card h3{
    color: #424242;
    font-size: 45px;
}
.fact-card p{
    font-size: 20px;
    color: #727272;
}

/* sponsors  */
.sponsors{
    text-align: center;
    padding: 140px 0;
}
.sponsor-info{
    color: #727272;
}
.sponsor-info h3{
    font-size: 45px;
}
.sponsor-info p{
    padding: 24px 0 50px;
    font-size: 16px;
}
.sponsor-icons{
    display: flex;
    justify-content: space-between;
}

/* footer  */
.footer{
    color: #424242;
    background-color: #FFF4E7;
    padding: 40px 140px;
    text-align: center;
}
.footer p{
    font-size: 20px;
}
